/* Core Expertise Section */
.coreExpertiseHeader {
    margin: 2rem 0;
}

.coreExpertise {
    font-size: 2rem;
    font-weight: bold;
}

.coreExpertiseDescription {
    font-size: 1.2rem;
    color: #666;
}