.latesInsightsHeader {
    text-align: center;
    margin-bottom: 5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1f2937;
    margin: 0 0 2rem 0;
    line-height: 1.1;
    letter-spacing: -0.025em;
}

.headerDescription {
    font-size: 1.25rem;
    color: #6b7280;
    line-height: 1.6;
    max-width:600px;
    margin: 0 auto;
}

.latesInsightsContainer {
    padding: 6rem 2rem;
}

.blogGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    max-width: 1100px;
    margin: 0 auto;
}

.buttonContainer {
    text-align: center;
    margin-top: 4rem;
}

.viewAllButtonLink {
    text-decoration: none;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid rgb(206, 201, 201);
    border-radius: 6px;
    color: black;
    font-weight: 600;
}

.viewAllButtonLink:hover {
    background-color: #f3f4f5;
}
