.contactMeHeader {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1f2937;
    margin: 0 0 2rem 0;
    line-height: 1.1;
    letter-spacing: -0.025em;
}

.headerDescription {
    font-size: 1.25rem;
    color: #6b7280;
    line-height: 1.6;
    max-width:600px;
    margin: 0 auto;
}

.contactSection {
    width: 50%;
    margin: 0 auto;
}

.sectionTitle {
    font-size: 1.9rem;
    font-weight: 700;
    color: #1f2937;
    margin: 0 0 1.5rem 0;
    line-height: 1.1;
    letter-spacing: -0.025em;
}

.contactSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.contactForm {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 2rem;
}